In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import pymongo
from splinter import Browser
import time 
import re

In [2]:
#Browser
def init_browser():
    executable_path = {"executable_path": "chromedriver.exe"}
    return Browser('chrome', **executable_path, headless=False)

# NASA Mars News

Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text.
Assign the text to variables that you can reference later.

In [6]:
browser = init_browser()

In [9]:
#url of page to be scraped
url1 = "https://mars.nasa.gov/news/"
browser.visit(url1)
time.sleep(5)
# Scrape page into Soup
html = browser.html
soup = bs(html, 'html.parser')

In [10]:
#Scrape the 1st Title
news_title = soup.find('ul', class_="item_list").find("div", class_="content_title").get_text()

#Scrapp the text for the 1st article
news_p = soup.find('ul', class_= "item_list").find("div", class_="article_teaser_body").get_text()

print(f"Title: {news_title}")
print("------")
print(f"Text: {news_p}")

Title: NASA's Mars Rover Drivers Need Your Help
------
Text: Using an online tool to label Martian terrain types, you can train an artificial intelligence algorithm that could improve the way engineers guide the Curiosity rover.

In [11]:
# Close the browser after scraping
browser.quit()

# JPL Mars Space Images - Featured Image

Visit the url for JPL Featured Space Image here.

Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.

Make sure to find the image url to the full size .jpg image.

Make sure to save a complete url string for this image.

In [12]:
browser = init_browser()

In [13]:
#url of page to be scraped
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)
time.sleep(5)
# Scrape page into Soup
html = browser.html
soup = bs(html, 'html.parser')

In [14]:
#click the button for image url to the full size .jpg image.
image_url = browser.find_by_id('full_image')
image_url.click()

#click more info url to the full size .jpg image.
more_info_elem = browser.links.find_by_partial_text('more info')
more_info_elem.click()

In [15]:
# Scrape page into Soup
html = browser.html
soup = bs(html, 'html.parser')
featured_image_url = soup.find('figure', class_="lede").find("a").get('href')

url = 'https://www.jpl.nasa.gov'
featured_image_url = url + featured_image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22893_hires.jpg

In [16]:
# Close the browser after scraping
browser.quit()

# Mars Weather

Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called mars_weather.

Note: Be sure you are not signed in to twitter, or scraping may become more difficult.

Note: Twitter frequently changes how information is presented on their website. If you are having difficulty getting the correct html tag data, consider researching Regular Expression Patterns and how they can be used in combination with the .find() method.

In [113]:
browser = init_browser()

#url of page to be scraped
url3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url3)
time.sleep(10)

# Scrape page into Soup
html = browser.html
soup = bs(html,'html.parser')

In [114]:
#scrape Weather Tweet
#mars_weather = soup.find_all("article")
#print(mars_weather)

In [115]:
mars_weather = soup.find_all('div',{"lang" : "en", "dir" : "auto"})
print(mars_weather)

[<div class="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0" dir="auto" lang="en"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">How about a little pick-me-up courtesy of these talented young people.</span></div>, <div class="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-1g94qm0 r-bcqeeo r-bnwqim r-qvutc0" dir="auto" lang="en"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Check out this amazing video that was put together! This ‘virtual choir’ includes students from Apex, Apex Friendship, Garner Magnet, and Green Level High Schools! The message of this song is especially relevant today, as well! </span><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0" dir="ltr"><span aria-hidden="true" class="css-901oao css-16my406 r-1qd0xha r-hiw28u r-ad9z0x r-bcqeeo r-qvutc0">https://</span>youtu.be/Sh11NNB2ywQ</span></div>, <div class="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0" dir="auto" lang="en"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 549 (2020-06-12) low -91.8ºC (-133.3ºF) high -1.5ºC (29.3ºF)
winds from the SW at 4.5 m/s (10.1 mph) gusting to 18.2 m/s (40.6 mph)
pressure at 7.40 hPa</span></div>, <div class="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0" dir="auto" lang="en"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 548 (2020-06-11) low -91.2ºC (-132.1ºF) high -2.8ºC (26.9ºF)
winds from the SW at 4.8 m/s (10.8 mph) gusting to 20.1 m/s (45.0 mph)
pressure at 7.40 hPa</span></div>, <div class="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0" dir="auto" lang="en"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 547 (2020-06-10) low -92.2ºC (-133.9ºF) high -1.0ºC (30.1ºF)
winds from the SW at 4.5 m/s (10.0 mph) gusting to 14.2 m/s (31.9 mph)
pressure at 7.40 hPa</span></div>, <div class="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0" dir="auto" lang="en"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Interesting take on the dust storm that ended Oppy’s mission</span></div>, <div class="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-1g94qm0 r-bcqeeo r-bnwqim r-qvutc0" dir="auto" lang="en"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Orbit‐Spin Coupling and the Triggering of the Martian Planet‐Encircling Dust Storm of 2018 </span><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0" dir="ltr"><span aria-hidden="true" class="css-901oao css-16my406 r-1qd0xha r-hiw28u r-ad9z0x r-bcqeeo r-qvutc0">https://</span>doi.org/10.1029/2019JE<span aria-hidden="true" class="css-901oao css-16my406 r-1qd0xha r-hiw28u r-ad9z0x r-bcqeeo r-qvutc0">006077</span><span aria-hidden="true" class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-lrvibr r-qvutc0">…</span></span><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"> Global Dust Storms tend to happen at times when  a torque on the Mars atmosphere reaches peak values and also at times when the torque is changing most rapidly.</span></div>, <div class="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0" dir="auto" lang="en"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Temperature swings are wild on Mars, data from the Mars Odyssey orbiter shows they are even wilder on Mars’ moon Phobos</span></div>]

In [117]:

mars_weather = mars_weather[2].find_all("span")
mars_weather[0].text

'InSight sol 549 (2020-06-12) low -91.8ºC (-133.3ºF) high -1.5ºC (29.3ºF)\nwinds from the SW at 4.5 m/s (10.1 mph) gusting to 18.2 m/s (40.6 mph)\npressure at 7.40 hPa'

In [16]:
# Close the browser after scraping
browser.quit()

# Mars Facts

Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.


Use Pandas to convert the data to a HTML table string.

In [17]:
#url of page to be scraped
url4 = 'https://space-facts.com/mars/'

tables = pd.read_html(url4)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [18]:
# What we get in return is a list of dataframes for any tabular data that Pandas found.
type(tables)

df = tables[0]
df.columns = ['Description', 'Value']

#Set the index to the Description column
df.set_index('Description', inplace=True)
df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [19]:
# What we get in return is a list of dataframes for any tabular data that Pandas found.
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [20]:
# Strip unwanted newlines to clean up the table.
html_table.replace('\n', '')

# Save the table directly to a file.
df.to_html('table.html')

# Mars Hemispheres

Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.


You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.


Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.


Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [21]:
browser = init_browser()

#Visit page to be scraped
url5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url5)
time.sleep(5)

# Scrape page into Soup
html = browser.html
soup = bs(html, 'html.parser')

In [22]:
titles = []
# Get the Hemisphere Titles
CHE = soup.find_all('h3')[0].text
SHE = soup.find_all('h3')[1].text
SMHE = soup.find_all('h3')[2].text
VMHE = soup.find_all('h3')[3].text

titles.append(CHE)
titles.append(SHE)
titles.append(SMHE)
titles.append(VMHE)

titles

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [ ]:
# Close the browser after scraping
browser.quit()