In [16]:
# Dependencies
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import pymongo
from splinter import Browser

# NASA Mars News

Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text.
Assign the text to variables that you can reference later.

In [17]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [18]:
#url of page to be scraped
url = "https://mars.nasa.gov/news/"
browser.visit(url)

# Scrape page into Soup
html = browser.html
soup = bs(html, 'html.parser')

In [19]:
#Scrape the 1st Title
news_title = soup.find('ul', class_="item_list").find("div", class_="content_title").get_text()

#Scrapp the text for the 1st article
news_p = soup.find('ul', class_= "item_list").find("div", class_="article_teaser_body").get_text()

print("------")
print(f"Title: {news_title}")
print("------")
print(f"Text: {news_p}")

------
Title: Three New Views of Mars' Moon Phobos
------
Text: Taken with the infrared camera aboard NASA's Odyssey orbiter, they reveal temperature variations on the small moon as it drifts into and out of Mars’ shadow.

In [20]:
# Close the browser after scraping
browser.quit()

# JPL Mars Space Images - Featured Image

Visit the url for JPL Featured Space Image here.

Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.

Make sure to find the image url to the full size .jpg image.

Make sure to save a complete url string for this image.

In [21]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [22]:
#url of page to be scraped
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

# Scrape page into Soup
html = browser.html
soup = bs(html, 'html.parser')

In [23]:
#click the button for image url to the full size .jpg image.
image_url = browser.find_by_id('full_image')
image_url.click()

#click more info url to the full size .jpg image.
more_info_elem = browser.links.find_by_partial_text('more info')
more_info_elem.click()

In [24]:
# Scrape page into Soup
html = browser.html
soup = bs(html, 'html.parser')
featured_image_url = soup.find('figure', class_="lede").find("a").get('href')

url = 'https://www.jpl.nasa.gov'
featured_image_url = url + featured_image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16153_hires.jpg

In [25]:
# Close the browser after scraping
browser.quit()

# Mars Weather

Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called mars_weather.

Note: Be sure you are not signed in to twitter, or scraping may become more difficult.

Note: Twitter frequently changes how information is presented on their website. If you are having difficulty getting the correct html tag data, consider researching Regular Expression Patterns and how they can be used in combination with the .find() method.

In [108]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

#url of page to be scraped
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

# Scrape page into Soup
html = browser.html
soup = bs(html,'html.parser')

In [111]:
#scrape Weather Tweet
mars_weather = soup.find("div",{"lang": "en", "dir": "auto"}).text.replace("\n"," ").strip()
mars_weather

'InSight sol 546 (2020-06-09) low -92.7ºC (-134.9ºF) high -6.6ºC (20.1ºF) winds from the WNW at 6.4 m/s (14.4 mph) gusting to 25.1 m/s (56.2 mph) pressure at 7.40 hPa'

In [103]:
# Close the browser after scraping
browser.quit()

# Mars Facts

Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.


Use Pandas to convert the data to a HTML table string.

In [112]:
#url of page to be scraped
url = 'https://space-facts.com/mars/'

tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [113]:
# What we get in return is a list of dataframes for any tabular data that Pandas found.
type(tables)

df = tables[0]
df.columns = ['Description', 'Value']

#Set the index to the Description column
df.set_index('Description', inplace=True)
df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [114]:
# What we get in return is a list of dataframes for any tabular data that Pandas found.
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [115]:
# Strip unwanted newlines to clean up the table.
html_table.replace('\n', '')

# Save the table directly to a file.
df.to_html('table.html')

# Mars Hemispheres

Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.


You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.


Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.


Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [120]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

#Visit page to be scraped
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

# Scrape page into Soup
html = browser.html
soup = bs(html, 'html.parser')

In [117]:
titles = []
# Get the Hemisphere Titles
CHE = soup.find_all('h3')[0].text
SHE = soup.find_all('h3')[1].text
SMHE = soup.find_all('h3')[2].text
VMHE = soup.find_all('h3')[3].text

titles.append(CHE)
titles.append(SHE)
titles.append(SMHE)
titles.append(VMHE)

titles

IndexError: list index out of range

In [ ]:
# Close the browser after scraping
browser.quit()